/* CSS declarations go here */
// primary colors
$dark-primary: #E64A19;
$default-primary: #FF5722;
$light-primary: #FFCCBC;
$text-contrast: #FFFFFF;
$cta: #448AFF;
$primary-text: #212121;
$secondary-text: #727272;
$light-text: #b2b2b2;
$borders: #B6B6B6;

body {
  color: $primary-text;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
@media(max-width: 768px) {
  .hidden-xs {
    display: none;
  }
  .shown-xs {
    display: inherit;
  }
}
@media(min-width: 768px) {
  .hidden-xs {
    display: inherit;
  }
  .shown-xs {
    display: none;
  }
}
/* Navbar */
.navbar {
  display: block;
  width: 100%;
  height: 6.5rem;
  background: $dark-primary;
  z-index: 99;
  .container {
    width: 100%;
  }
  .navbar-list {
    list-style: none;
    margin-bottom: 0;
    &.right {
      float: right;
    }
    &.navbar-menu {
      .navbar-item {
        .navbar-link {
          font-size: 14px;
          font-weight: normal;
          letter-spacing: normal;
        }
      }
    }
    .navbar-item {
      position: relative;
      float: left;
      margin-bottom: 0;
      .navbar-link {
        font-size: 19px;
        font-weight: 600;
        letter-spacing: 0.2rem;
        margin-right: 35px;
        text-decoration: none;
        line-height: 6.5rem;
        color: $text-contrast;
      }
    }
  }
}
// Landing
.landing {
  margin-top: 10rem;
  .usage-steps {
    .usage-step {
      text-align: center;
    }
    .usage-image {
      width: 96px;
    }
    .usage-text {
      font-size: 1.3em;
      margin-top: 1rem;
    }
    .usage-text-secondary {
      color: $secondary-text;
    }
  }
}
.cta-row {
  text-align: center;
}
button.button-primary {
  background-color: $cta;
  border-color: $cta;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($cta, 30%);
    border-color: darken($cta, 30%);
  }
}
.trip-form-background {
  background-color: $light-primary;
}
.trip {
  .trip-header {
    font-size: 24px;
    margin-top: 60px;
    cursor: pointer;

    input {
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;
      display: inline-block;
      background-color: transparent;
      min-width: 200px;
    }

    .clipboard-link {
      margin-left: .5em;
      img {
        height: .8em;
        width: .8em;
      }
    }
  }
  .new-list {
    margin-bottom: 300px;
    a {
      display: inline-block;
      line-height: 1;
      color: $cta;
      font-size: 22px;
      img {
        height: 26px;
        vertical-align: text-top;
        display: inline-block;
      }
    }
    .new-list-form {
      input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0;
        display: inline-block;
        background-color: transparent;
        min-width: 200px;
      }
      a {
        margin-left: 5px;
        img {
          width: 24px;
          height: 24px
        }
      }
    }
  }
  .tasks-area {
    margin-top: 40px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    .tasks-list {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
      margin-right: 3%;
      margin-bottom: 30px;
      min-width: 200px;
      width: 30%;
      @media (max-width: 768px) {
        width: 100%;
        margin-right: 0;
      }
      header {
        padding: 10px 10px 10px 20px;
        background-color: $dark-primary;
        color: $text-contrast;
        font-size: 14px;
        margin-bottom: 1em;
        overflow: hidden;
        div {
          display: inline-block;
        }
        .list-delete {
          cursor: pointer;
          margin-left: 10px;
          float: right;
          img {
            height: 24px;
          }
        }
        .list-name {
          cursor: pointer;
          overflow: hidden;
          max-width: 85%;

          input {
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            background: transparent;
            border-color: $borders;
            width: 100%;
          }
        }
      }
      ul {
        list-style: none;
      }
      li {
        font-size: 13px;
        color: $secondary-text;
        padding: 1px 20px;
        margin-bottom: 0;

        display: flex;
        flex-flow: row;

        input {
          border-top: none;
          border-left: none;
          border-right: none;
          border-radius: 0;
        }

        .item-name {
          margin-right: 1em;
          cursor: pointer;
          overflow: hidden;
        }

        .item-count {
          margin-left: auto;
          margin-right: 1em;
          float: right;
          cursor: pointer;
        }

        .item-check {
          margin-right: 1em;
          min-width: 27px;
          input {
            appearance: none;
            cursor: pointer;
            position: relative;
          }
          input:focus {
            outline: none;
          }
          input:before {
            content: url('images/unchecked.svg');
            opacity: 1;
            position: absolute;
            -webkit-transition: all 0.50s;
            -moz-transition: all 0.50s;
            -o-transition: all 0.50s;
            transition: all 0.50s;
            left: 0;
          }
          input:after {
            content: url('images/checked_light.svg');
            opacity: 0;
            -webkit-transition: all 0.50s;
            -moz-transition: all 0.50s;
            -o-transition: all 0.50s;
            transition: all 0.50s;
            position: absolute;
            left: 0;
          }
        }

        .item-delete {
          cursor: pointer;
          img {
            width: 24px;
            height: 24px;
          }
        }

        &.checked {
          .item-check {
            input:before {
              opacity: 0;
            }
            input:after {
              opacity: 1;
            }
          }

          .item-count,
          .item-name {
            color: $light-text;
          }

          .item-name {
            text-decoration: line-through;
          }

          .item-delete {
            opacity: 0.4;
          }
        }

        &.new-item {
          .item-delete {
            img {
              margin-top: 8px;
            }
          }

          .item-name {
            width: 100%;

            input {
              width: 100%;
            }
          }
        }

        &.edit-item {
          .item-name {
            width: 100%;

            input {
              height: 30px;
              width: 100%;
            }
          }
        }
      }
    }

  }
}

.swal2-container {
  button {
    height: inherit;
    padding: inherit;
    color: inherit;
    text-align: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    text-decoration: inherit;
    white-space: inherit;
    background-color: inherit;
    border-radius: inherit;
    border: inherit;
    cursor: inherit;
    box-sizing: inherit;
  }
}

@media (max-width: 768px) {
  .swal2-container .swal2-modal button.styled {
    font-size: 13px;
  }
}

.trip-list {
  .trip-list-header {
    font-size: 24px;
    margin-top: 60px;
    @media(max-width: 768px) {
      button {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }

  .trips {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    font-size: 18px;

    .trip-link {
      margin-right: 2%;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 23%;
      @media (max-width: 768px) {
        width: 100%;
      }

      a:focus {
        outline: none;
      }

      img {
        width: 24px;
        height: 24px;
        vertical-align: middle;
        margin-left: .2em;
      }
    }
  }
}
